@media(min-width: 768px){
  .banner-form{
    font-family: 'PT Sans', sans-serif;

    label{
      display: block;
      width: 100%;
      min-height: 41px;
      margin-top: 10px;
    }


    input{
      border:none;
      width: inherit;
      min-height: inherit;
      background-color:#f9f8f3;
      padding-left: 40px;
    }

    input[type="submit"]{
      background-color:#FF9E24;
      color:rgb(255,255,255);
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      padding: 0;
    }

  }
}