.basket{
  display: none;
}

@media(min-width: 768px){
  .basket{
    display: flex;
    align-items: center;
    justify-content: center;
    width:245/910 *100%;
    height: 61px;
    background-color: #f3f1ef;
    text-transform: uppercase;

    p{
    font-size: 13px;
    }

  }
}