.goods-item {
  font-family: 'PT Sans', sans-serif;
}

.goods-item__title{
  h2{
    font-size: 24px;
    color:#595959;
    font-weight: 400;
  }

  div{
  display: none;
  }
}




@media(min-width:768px){
  .goods-item{
    width: 100%;
  }

  .goods-item__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;

    h2{
      font-size: 30px;
      color:#f59115;
      font-weight: 400;
    }

    div{
      display: flex;
      font-size: 18px;
      font-weight: 600;
      color:#b8ad87;

    }

  }

}