@media(min-width:768px){

  .goods-item{
  width: 100%;
  }

  .goods-item__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1px 1px orange;
  }
}