
@media (max-width:767px) {
  .header {
    height: 10vh;
    position: relative;
    padding: 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__button {
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0 4px 0;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    outline: none;
    background-color: transparent;
  }


  .header__button-element {
    width: 20px;
    min-height: 2px;
    background-color: black;
    padding: 0;
    display: block;
    transition: all 0.5s;
  }

  .first-rotate {
    transform: translate(1px, 8px) rotate(45deg);
  }

  .second-rotate{
    transform: scale(0);
  }

  .third-rotate{
    transform: translate(1px, -9px) rotate(-45deg);
  }


  //.header__button:hover .header__button-element:nth-child(1) {
  //  transform: translate(1px, 8px) rotate(45deg);
  //}
  //
  //.header__button:hover .header__button-element:nth-child(2) {
  //  transform: scale(0);
  //}
  //
  //.header__button:hover .header__button-element:nth-child(3) {
  //  transform: translate(1px, -9px) rotate(-45deg);
  //}

  .header__basket,
  .header__likes,
  .header__logo,
  .header__phone {
    width: 35px;
    height: 35px;
    box-shadow: inset 0 0 1px 1px black;
    //border-radius: 50%;
  }


  .header__logo a {
    display: block;
  }

  //.header__likes {
  //  width: 30px;
  //  height: 30px;
  //  box-shadow: 0 0 1px 1px black;
  //  border-radius: 50%;
  //}

  //.header__basket {
  //  width: 30px;
  //  height: 30px;
  //  box-shadow: 0 0 1px 1px black;
  //  border-radius: 50%;
  //}
}

@media(min-width:768px){
  .header{
    min-height: 197px;
    width: 1220px;
    padding:0;
    display: flex;
    margin: auto;
    position: relative;
  }

  .header__basket,
  .header__likes,
  .header__logo,
  .header__phone,
  .header__button{
    display: none;
  }


}