.header-customer{
    //min-width: 245px;
    min-height: inherit;
    display: none;
    margin-left:auto;
}


@media(min-width: 768px){
  .header-customer{
    display: flex;
    width:245/910 * 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: 'PT Sans', sans-serif;
  }

  .header-customer__button{
    display: block;
    width:48%;
    color:#fff;
    font-size: 13px;
    font-weight: 600;
    min-height:inherit;
    border-radius:3px;
    border:none;
    outline: none;
    margin:0;
  }

  .header-customer__button--lightgreen{
    background-color:#71c73b;
  }

  .header-customer__button--darkgreen{
    background-color: #00a75f;
  }

  .header-customer__basket{
    min-height: 61px;
    width:100%;
    background-color:#f3f1ef;
    align-self: flex-end;
    border-radius:3px;
    line-height: 61px;
    text-align: center;
  }

}



