@media(max-width: 767px) {
  .main {
    min-height: 400px;
    //box-shadow: 0 0 2px 2px black;
  }
}

@media(min-width:768px) {
  .main {
    width: 1220px;
    height: 565px;
    //box-shadow: 0 0 2px 2px black;
    margin: auto;
    display: flex;
    //background-color: lightblue;
  }
}