@media(min-width: 768px){
  .main-content{
    width:940/1220*100%;
    margin-left: 280px;
    min-height: 565px;
    //background: url('../../../build/img/first-banner.jpg');
    //background-size:100% 100%;
  }
}