
@media(max-width: 767px) {
  .services-wrapper {}

  .navigation-services {
    font-family: 'PT Sans', sans-serif;
    width: 200px;
    min-height: 88px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navigation-services__item {
    padding-right: 3px;
    min-height: 27px;
    position: relative;
    width: inherit;
  }

  .navigation-services__item a {
    display: block;
    width: 150px;
    height: 100%;
    font-size: 13px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;
    color: #72c73b;
    text-align: left;
    background-color: #f3f1ef;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    position: relative;
  }

  .navigation-services__item a:before{
    content:"";
    position:absolute;
    width: 25px;
    height: 25px;
    border:1px solid black;
    left:-30px;
  }

  .navigation-services__item a:hover {
    color: #00a75f;
    background-color: #e8e7e6
  }

}

@media(min-width: 768px){
  .services-wrapper{
    width: 100%;
    min-height: 28px;
  }
  .navigation-services{
     max-width: 70%;
    min-height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:-10px;
    margin-left: 0;
    order:1;
    box-shadow: 0 0 1px 1px orange;
  }

  .navigation-services__item{
    min-height: 28px;
    max-width: 30%;
    padding: 0;
    line-height: 28px;
    box-shadow: 0 0 1px 1px red;
  }

  .navigation-services__item a{
    display: flex;
    justify-content: center;
    width: auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0 0 1px 1px black;
    text-transform: uppercase;
  }

}