@media(max-width: 767px) {
  .navigation-menu {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 15px;
  }

  .navigation-menu__item {
    padding-left: 3%;
  }

  .navigation-menu__item a {
    color: #56504c;
    line-height: 30px;
    cursor: pointer;
    display: block;
    margin-left: 5px;
  }

  .navigation-menu__item-trigger {
    display: flex;
    align-items: center;
    position: relative;
  }

  .navigation-menu__item-trigger:hover{
    background-color: lightgrey;
  }

}

@media(min-width: 768px){

  .navigation-container{
    width:100%;
    min-height: 27px;
  }

  .navigation-menu{
    width: 70%;
    display: flex;
    min-height: 27px;
    align-items: center;
   justify-content: space-between;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    order:-3;
  }

  .navigation-menu__item a{
    color:#ffbf24;
    font-size:13px;
    text-decoration: underline;
  }

}