@media(max-width:767px) {

  .navigation-catalog {
    width: 100%;
    font-family: 'PT Sans', sans-serif;
  }

  .navigation-catalog__item {
    border-bottom: 1px solid #e2e0d3;
    min-height: 50px;
    text-align: left;
    padding-left: 60px;

  }

  .navigation-catalog__item a {
    color: #534e3d;
    font-size: 15px;
    border-bottom: 1px dashed #534e3d;
    line-height: 50px;
    position:relative;
  }

  .navigation-catalog__item a:before{
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    border:1px solid black;
    left:-50px;
    top:50%;
    transform: translateY(-50%);
  }

  .navigation-catalog__item:hover{
    background-color: #b8ad87;
  }

  .navigation-catalog__item:hover .navigation-catalog__ref{
    color:#fff;
    border-bottom:1px dashed #fff;
  }

}

@media(min-width: 768px){
  .inner{
    display: block;
    position: absolute;
    //top:193px;
    left:-10px;
  }

  .navigation-catalog{
    width: 280px;
    font-family: 'PT Sans', sans-serif;
    //box-shadow: 0 0 2px 2px lightgrey;
  }

  .navigation-catalog__item{
    min-height: 47px;
    min-width: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f9f8f3;
    padding-left: 60px;

  }

  .navigation-catalog__ref{
    font-size: 15px;
    color:#534e3d;
    border-bottom:1px dashed #595959;
    position:relative;
  }

  .navigation-catalog__ref:before{
    content: " ";
    position:absolute;
    width: 36px;
    height: 26px;
    box-shadow: 0 0 1px 1px black;
    left:-49px;
  }

  .navigation-catalog__item:hover{
    background-color: #b8ad87;
  }

  .navigation-catalog__item:hover .navigation-catalog__ref{
    color:#fff;
    border-bottom:1px dashed #fff;
  }


}