.price-container {
  min-height: 52px;
  width: 100%;
  background-color: #f9f8f3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'PT Sans', sans-serif;
}

.price-container__price{
  font-size: 20px;
  color:#595959;

}

  @media(min-width: 768px){
.price-container{
  min-height: 52px;
  width: 100%;
  background-color:#f9f8f3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'PT Sans', sans-serif;
}

 .price-container__price{
   font-size: 25px;
   color:#595959;
 }


}