@import "globals/scafoldings";
@import "globals/normalize";
@import "blocks/header";
@import "blocks/header-BigLogo";
@import "blocks/header-customer";
@import "blocks/main-menu";
@import "blocks/navigation";
@import "blocks/navigation-menu";
@import "blocks/navigation-catalog";
@import "blocks/navigation-wrapper";
@import "blocks/navigation-form";
@import "blocks/navigation-services";
@import "blocks/main";
@import "blocks/main-content";
@import "blocks/navigation-contacts";
@import "blocks/basket";
@import "blocks/banner";
@import "blocks/banner-form";
@import "blocks/slider";
@import "blocks/goods-range";
@import  "blocks/goods-item";
@import "blocks/goods-menu";
@import "blocks/price-container";
@import "blocks/color-range";
@import "blocks/all-goods";
@import "blocks/introduction";
@import "blocks/footer";
@import "blocks/questions";
@import "blocks/touch";
@import "blocks/rights";
